bcrypt
cryptography
fastapi~=0.110.1
psycopg2-binary
PyMySQL
python-jose
python-multipart
SQLAlchemy
uvicorn~=0.29.0
passlib
pytest
httpx
pytest-asyncio
aiofiles
jinja2
pydantic~=2.7.0
starlette~=0.37.2